.t{
    background-color: white;
    width: 50px;
    height: 25px;
    border-radius: 20px;
    border: 1px solid #999;
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.t-icon{
    width: 15px;
    height: 15px;
}
.t-button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #999;
    position: absolute;
    cursor: pointer;
 
}